#img1 {
  background-image: url('../image/Birthday-Invitation/Cover-Photo/Birthday-Invitation.jpg');
}
#img2 {
  background-image: url('../image/Birthday-Invitation/Cover-Photo/Birthday-Invitation-2.jpg');
}
#img3 {
  background-image: url('../image/Birthday-Invitation/Cover-Photo/Birthday-Invitation-3.jpg');
}
#img4 {
  background-image: url('../image/Birthday-Invitation/Cover-Photo/Birthday-Invitation-4.jpg');
}

@media (max-width: 600px) {
      #img1 {
          background-image: url('../image/Birthday-Invitation/Cover-Photo/Birthday-Invitation-Mobile.jpg');
      }
      #img2 {
          background-image: url('../image/Birthday-Invitation/Cover-Photo/Birthday-Invitation-Mobile-2.jpg');
      }
      #img3 {
          background-image: url('../image/Birthday-Invitation/Cover-Photo/Birthday-Invitation-Mobile-3.jpg');
      }
      #img4 {
          background-image: url('../image/Birthday-Invitation/Cover-Photo/Birthday-Invitation-Mobile-4.jpg');
      }
}