#img1 {
  background-image: url('../image/Wedding-Invitation/Cover-Photo/Wedding-Invitation.jpg');
}
#img2 {
  background-image: url('../image/Birthday-Return-Gifts/Cover-Photo/Birthday.jpg');
}
#img3 {
  background-image: url('../image/Corporate-Gifts/Cover-Photo/Corporate-1.jpg');
}

@media (max-width: 600px) {
  #img1 {
          background-image: url('../image/Wedding-Invitation/Cover-Photo/Wedding-Invitation-Mobile.jpg');
  }
  #img2 {
          background-image: url('../image/Birthday-Return-Gifts/Cover-Photo/Birthday-mobile.jpg');
      }
  #img3 {
          background-image: url('../image/Corporate-Gifts/Cover-Photo/Corporate-Mobile-1.jpg');
  }
}