#img1 {
  background-image: url('../image/Birthday-Return-Gifts/Cover-Photo/Birthday.jpg');
}
#img2 {
  background-image: url('../image/Birthday-Return-Gifts/Cover-Photo/Birthday2.jpg');
}
#img3 {
  background-image: url('../image/Birthday-Return-Gifts/Cover-Photo/Birthday-Return-Gifts-3.jpg');
}
#img4 {
  background-image: url('../image/Birthday-Return-Gifts/Cover-Photo/Birthday-Return-Gifts-4.jpg');
}

@media (max-width: 600px) {
      #img1 {
          background-image: url('../image/Birthday-Return-Gifts/Cover-Photo/Birthday-mobile.jpg');
      }
      #img2 {
          background-image: url('../image/Birthday-Return-Gifts/Cover-Photo/Birthday-mobile1.jpg');
      }
      #img3 {
          background-image: url('../image/Birthday-Return-Gifts/Cover-Photo/Birthday-Return-Gifts-Mobile-3.jpg');
      }
      #img4 {
          background-image: url('../image/Birthday-Return-Gifts/Cover-Photo/Birthday-Return-Gifts-Mobile-4.jpg');
      }
}